{%extends "base.html" %}
{%block content%}
	<table>
		<thead>
			<tr>
				<th>product_id</th>
				<th>product_type</th>
				<th>product_name</th>
				<th>size</th>
				<th>colour</th>
				<th>price</th>
				<th>quantity</th>
				<th>description</th>
			</tr>
		</thead>
		<tbody>
    {%for items in data %}
			<tr>
      <td>{{items[0]}}</td>
      <td>{{items[1]}}</td>
      <td>{{items[2]}}</td>
      <td>{{items[3]}}</td>
      <td>{{items[4]}}</td>
      <td>{{items[5]}}</td>
      <td>{{items[6]}}</td>
      <td>{{items[]}}</td>
			</tr>
    {%endfor%}
		</tbody>
	</table>
{%endblock%}
