{%extends "base.html" %} {%block content%}
<table>
 <thead>
    <tr>
      <th>products</th>
      <!-- <th>product_type</th> -->
      <!-- <th>product_name</th> -->
      <!-- <th>size</th> -->
      <!-- <th>colour</th> -->
      <!-- <th>price</th> -->
      <!-- <th>quantity</th> -->
      <!-- <th>description</th> -->
    </tr>
  </thead>
  <tbody>
    {%for items in data %}
    <tr>
      <td>
        <a href="{{url_for('product_detail',id = items[0])}}"> {{items[0]}} </a>
      </td>
    </tr>
    {%endfor%}
  </tbody>
</table>

{%endblock%}
