{%extends "base.html" %}
{%block content%}
	<table>
		<thead>
			<tr>
				<th>sale_id</th>
				<th>order_id</th>
				<th>product_id</th>
				<th>price_per_unit</th>
				<th>quantity</th>
				<th>total_price</th>
			</tr>
		</thead>
		<tbody>
    {%for items in data %}
			<tr>
      <td>{{items[0]}}</td>
      <td>{{items[1]}}</td>
      <td>{{items[2]}}</td>
      <td>{{items[3]}}</td>
      <td>{{items[4]}}</td>
      <td>{{items[5]}}</td>
			</tr>
    {%endfor%}
		</tbody>
	</table>

    {% if total_pages > 1 %}
	<div class = 'pagination'>
		{% if page > 1 %}
		<a href="{{ url_for('sales', page=1, per_page=per_page) }}">First</a>
		<a href="{{ url_for('sales', page=page-1, per_page=per_page) }}">Previous</a>
		{% endif %}
		
		{% if page < total_pages %}
		<a href="{{ url_for('sales', page=page+1, per_page=per_page) }}">Next</a>
		<a href="{{ url_for('sales', page=total_pages, per_page=per_page) }}">Last</a>
		{% endif %}
		
		<p>Page {{ page }} of {{ total_pages }}</p>
		<p>Show <select onchange="location = this.value;">
			{% for option in [10, 25, 50, 100] %}
			<option value="{{ url_for('sales', page=1, per_page=option) }}" {% if option == per_page %}selected{% endif %}>{{ option }}</option>
			{% endfor %}
		</select> entries</p>
	</div>
	{% endif %}
{%endblock%}
